<h1>IntelliGuard Programming Test</h1>
<p>The test consists of the following tasks:</p>
<ol>
    <li>Add the ability to add, update and list all users using the user service.</li>
    <li>Clone the user models before returning them to the UI.</li>
    <li>Add the sql to the sql files in Sql/Users to match the User model.</li>
    <li>Add a page with a single textbox and button that checks if the contents of the textbox is a palindrome. Don't look this up, try it yourself.</li>
    <li>Add the interfaces needed to add dependency injection.</li>
    <li>Add dependency injection to the project and inject the appropriate classes. Add the user service as a Singleton and the palindrome service as Scoped.</li>
    <li>Add a unit test(s) to the palindrome service.</li>
</ol>